sudo: false
language: node_js
node_js:
  - stable
install:
  - yarn
addons:
  sonarcloud:
    organization: "$SONAR_ORG"
    token:
      secure: "$SONAR_TOKEN"
after_script:
  - npm run coveralls
  - sonar-scanner
